# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.mjs

/.pnp
.pnp.js
package-lock.json
yarn.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TYPESCRIPT
*.tsbuildinfo

# MAC
._*
.DS_Store
Thumbs.db

# MISC
.idea
.cache/
.next/
next-env.d.ts
.nuxt/
tmp/
temp/
.docusaurus